/* This file is for your main application css. */

@import 'custom';
@import 'bulma';

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.set-box {
  border: solid gray 1px;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.interval-box {
  border: solid gray 1px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#clock {
  font-size: 200px;
}

.resting {
  color: blue;
}
